/* line 1, c:/users/cristiandc/desktop/empleadopro/empleadopro/static/sass/base.sass */
.nav {
  width: 100%;
  position: fixed;
  top: 0px; }

/* line 6, c:/users/cristiandc/desktop/empleadopro/empleadopro/static/sass/base.sass */
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%; }

/* line 11, c:/users/cristiandc/desktop/empleadopro/empleadopro/static/sass/base.sass */
.base {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  padding: 0 20px;
  box-sizing: border-box; }
